{{ partial "head.html" . }}
{{ partial "sidebar.html" . }}
<script src='https://cdn.plot.ly/plotly-2.4.2.min.js'></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/js/bootstrap4-toggle.min.js"></script>

<div class="content">
    <small>
        <br style="display: block; content: '';"></br>
        <div class="card rounded"
            style="background-color: #d6d6d6; position:relative width:800px; margin: 0 auto; max-width: 900px;">
            <form>
                <!-- columns -->
                <!-- <h4 class="mb-3" style="text-align: center;">Inputs</h4> -->
                <div class="form-group">
                    <div class="form-row align-items-center">
                        <div class="col-md-2 mb-0">
                            <!-- Input type text -->
                            <label for="perplexity">Perplexity</label>
                            <input type="number" class="form-control form-control-sm" name="perplexity" id="perplexity"
                                value="15">
                        </div>

                        <div class="col-md-2 mb-0">
                            <!-- Input type text -->
                            <label for="maxIter">Max Iterations</label>
                            <input type="number" class="form-control form-control-sm" name="maxIter" id="maxIter"
                                value="100000">
                        </div>

                        <div class="col-md-2 mb-0">
                            <!-- Input type text -->
                            <label for="nRepuSamp">Neighbours</label>
                            <input type="number" class="form-control form-control-sm" name="nRepuSamp" id="nRepuSamp"
                                value="5">
                        </div>

                        <div class="col-md-2 mb-0">
                            <!-- Input type text -->
                            <label for="eta0">Learning rate</label>
                            <input type="number" class="form-control form-control-sm" name="eta0" id="eta0" value="1.0">
                        </div>

                        <div class="col-md-2 mb-0">
                            <!-- Input type text -->
                            <label for="seed">Seed</label>
                            <input type="number" class="form-control form-control-sm" name="seed" id="seed"
                                value="1234">
                        </div>

                        <div class="col-md-2 mb-0">
                            <!-- Input type text -->
                            <label for="bInit">Exaggeration</label>
                            <input type="checkbox" data-toggle="toggle" data-size="sm" id="bInit" name="bInit">
                        </div>
                    </div>

                    <!-- columns -->
                    <div class="form-group">
                        <div class="form-row align-items-center">
                            <div class="col-md-2 mb-0">
                                <label>Distance method</label>
                                <div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="radiomethod" id="snp"
                                            value="snp" checked>
                                        <label class="form-check-label" for="ir_id0">SNP distance</label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="radiomethod" id="accessory"
                                            value="accessory">
                                        <label class="form-check-label" for="ir_id1">Accessory</label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="radiomethod" id="sketch"
                                            value="sketch">
                                        <label class="form-check-label" for="ir_id2">Sketch</label>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-3 mb-0">
                                <!-- Input type text -->
                                <label for="threshold">Max distance</label>
                                <input type="number" class="form-control form-control-sm" name="threshold"
                                    id="threshold" value="1e10">
                            </div>

                            <div class="col-md-3 mb-0">
                                <!-- Input type text -->
                                <label for="knn">K nearest neighbours</label>
                                <input type="number" class="form-control form-control-sm" name="knn" id="knn"
                                    value="10">
                            </div>
                            
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="form-row align-items-center">

                            <div class="col-md-4 mb-0">
                                <!-- Input type file -->
                                <label for="filename">Input sequence file</label>
                                <div class="custom-file">
                                    <input type="file" class="custom-file-input" name="filename" id="filename" multiple>
                                    <label class="custom-file-label" for="filename">Choose file</label>
                                </div>
                            </div>

                            <div class="col-md-4 mb-0">
                                <!-- Input type file -->
                                <label for="filecolour">Colour categories</label>
                                <div class="custom-file">
                                    <input type="file" class="custom-file-input" name="filecolour" id="filecolour" multiple>
                                    <label class="custom-file-label" for="filecolour">Choose file</label>
                                </div>
                            </div>

                            <div class="col-md-4 mb-0">
                            <button type="submit" class="btn btn-primary btn-block" name="submit" id="submit">run</button>
                            </div>
                        </div>
                    </div>

                    

                    
            </form>
        </div>
    </small>

    <script>
        $('#filename').on('change', function () {
            //get the file name
            var fileName = document.getElementById('filename').files[0].name;
            //replace the "Choose a file" label
            $(this).next('.custom-file-label').html(fileName);
        })
        $('#filecolour').on('change', function () {
            //get the file name
            var filecolour = document.getElementById('filecolour').files[0].name;
            //replace the "Choose a file" label
            $(this).next('.custom-file-label').html(filecolour);
        })
    </script>

    <script>
        function csvToArray(str, delimiter = ",") {
            // slice from start of text to the first \n index
            // use split to create an array from string by delimiter
            // const headers = str.slice(0, str.indexOf("\n")).split(delimiter);

            // slice from \n index + 1 to the end of the text
            // use split to create an array of each csv value row
            const rows = str.slice(str.indexOf("\n") + 1).split("\n");
        }
    </script>

    <script>

        const worker = new Worker("js/worker.js");

        // Event listener which changes the image src attribute on form submit:
        const form = document.getElementById('myForm');

        document.addEventListener('submit', function (e) {

            // clear old image if there is one
            document.getElementById("myDiv").innerHTML = "";

            // make the spinner visible
            let spinner = document.getElementById("spinner");
            spinner.style.visibility = 'visible'; //'hidden'
            let logger = document.getElementById("logtxt");
            logger.style.visibility = 'visible'; //'hidden'

            e.preventDefault();  // Stops submit button from moving to new page
            const f = document.getElementById('filename').files;
            const fcolour = document.getElementById('filecolour').files;
            const perplexity = document.getElementById('perplexity').value;
            const maxIter = document.getElementById('maxIter').value;
            const nRepuSamp = document.getElementById('nRepuSamp').value;
            const eta0 = document.getElementById('eta0').value;
            const bInit = document.getElementById('bInit').checked ? 1 : 0;
            const seed = document.getElementById('seed').value;
            const threshold = document.getElementById('threshold').value;
            const knn = document.getElementById('knn').value;
            const method = document.querySelector('input[name="radiomethod"]:checked').value;

            // run the algorithm
            worker.postMessage([f, perplexity, maxIter, nRepuSamp,
                eta0, bInit, 1, seed, threshold, knn, method, fcolour]);


            worker.onmessage = function (e) {
                if (e.data[0].length < 2) {

                    document.getElementById("logtxt").textContent = e.data;

                } else {

                    spinner.style.visibility = 'hidden';
                    logger.style.visibility = 'hidden';

                    Plotly.newPlot('myDiv', [{
                        type: 'scattergl', mode: 'markers',
                        marker: {
                            color: e.data[1],
                            colorscale: [[0, 'rgb(166,206,227)'],[0.1,'rgb(31,120,180)'],[0.2,'rgb(178,223,138)'],[0.3,'rgb(51,160,44)'],[0.4,'rgb(251,154,153)'],[0.5,'rgb(227,26,28)'],[0.6,'rgb(253,191,111)'],[0.7,'rgb(255,127,0)'],[0.8,'rgb(202,178,214)'],[0.9,'rgb(106,61,154)'],[1,'rgb(177,89,40)']]
                        },
                        x: e.data[0][0],
                        y: e.data[0][1],
                        text: e.data[1],
                    }], {
                        margin: { t: 0 }
                    });
                }
            }
        });

    </script>


</div>


<br></br>

<div class="d-flex justify-content-center" style="visibility: hidden" id="spinner">
    <div class="spinner-border text-secondary" role="status">
        <span class="sr-only">Loading...</span>
    </div>
</div>

<div id="logtxt"
    style="visibility: hidden; text-align: center; position:relative width:800px; margin: 0 auto; max-width: 900px;">
    Log: </div>




<div id="myDiv"></div>